@font-face {
  font-family: 'Gravitas One';
  font-style: normal;
  font-weight: 400;
  src: url(gravitas_one.woff2) format('woff2');
}

html, body{
    height: 100%;
}

#main{
    position: relative;
    display: flex;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: contain;    
    background-position: center center;
    height: 100%;
    max-width: calc(1.4 * 100vh);
    max-height: calc(0.71 * 100vw);
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.fancy{
    width: calc(0.74 * 100%);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#settings{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 5%;
    height: 8%;
    background-image: url(../images/settings.png);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

#winners{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 5%;
    height: 8%;
    background-image: url(../images/winner.png);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.jSlots-wrapper {
    overflow: hidden;
    height: 20px;
    display: block; /* to size correctly, can use float too, or width*/

}

#playFancy{
    max-width: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 6%;
    height: auto;
    cursor: pointer;
}

.slot {
    
}


/* ---------------------------------------------------------------------
   FANCY EXAMPLE
--------------------------------------------------------------------- */
.fancy .jSlots-wrapper {
    overflow: hidden;
    height: 100px;
    display: block; /* to size correctly, can use float too, or width*/
}

.fancy .slot li {
    width: 100%;
    line-height: 100px;
    text-align: center;
    font-size: calc(0.06*100vh);
    font-weight: bold;
    color: #e0115f;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.8);
    font-family: 'Gravitas One', serif;
}

.fancy .slot li span {
    display: block;
}

/* ---------------------------------------------------------------------
   ANIMATIONS
--------------------------------------------------------------------- */

@-webkit-keyframes winner {
        0%, 50%, 100% {
            -webkit-transform: rotate(0deg);
            font-size:70px;
            color: #fff;
        }
        25% {
            -webkit-transform: rotate(20deg);
            font-size:90px;
            color: #FF16D8;
        }
        75% {
            -webkit-transform: rotate(-20deg);
            font-size:90px;
            color: #FF16D8;
        }
}
@-moz-keyframes winner {
        0%, 50%, 100% {
            -moz-transform: rotate(0deg);
            font-size:70px;
            color: #fff;
        }
        25% {
            -moz-transform: rotate(20deg);
            font-size:90px;
            color: #FF16D8;
        }
        75% {
            -moz-transform: rotate(-20deg);
            font-size:90px;
            color: #FF16D8;
        }
}
@-ms-keyframes winner {
        0%, 50%, 100% {
            -ms-transform: rotate(0deg);
            font-size:70px;
            color: #fff;
        }
        25% {
            -ms-transform: rotate(20deg);
            font-size:90px;
            color: #FF16D8;
        }
        75% {
            -ms-transform: rotate(-20deg);
            font-size:90px;
            color: #FF16D8;
        }
}


@-webkit-keyframes winnerBox {
        0%, 50%, 100% {
            box-shadow: inset 0 0  0px yellow;
            background-color: #FF0000;
        }
        25%, 75% {
            box-shadow: inset 0 0 30px yellow;
            background-color: aqua;
        }
}
@-moz-keyframes winnerBox {
        0%, 50%, 100% {
            box-shadow: inset 0 0  0px yellow;
            background-color: #FF0000;
        }
        25%, 75% {
            box-shadow: inset 0 0 30px yellow;
            background-color: aqua;
        }
}
@-ms-keyframes winnerBox {
        0%, 50%, 100% {
            box-shadow: inset 0 0  0px yellow;
            background-color: #FF0000;
        }
        25%, 75% {
            box-shadow: inset 0 0 30px yellow;
            background-color: aqua;
        }
}



.winner li {
    -webkit-animation: winnerBox 2s infinite linear;
       -moz-animation: winnerBox 2s infinite linear;
        -ms-animation: winnerBox 2s infinite linear;
}
.winner li span {
     -webkit-animation: winner 2s infinite linear;
        -moz-animation: winner 2s infinite linear;
         -ms-animation: winner 2s infinite linear;
}

#namelist-table{
    width: 100%;
}